<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Library/MobileSubstrate/DynamicLibraries/amfid_payload.dylib</string>
	<string>/Library/MobileSubstrate/ServerPlugins/Unrestrict.dylib</string>
	<string>/bin/launchctl</string>
	<string>/usr/lib/libjailbreak.dylib</string>
	<string>/jb/libjailbreak.dylib</string>
	<string>/usr/lib/pspawn_hook.dylib</string>
	<string>/usr/libexec/jailbreakd</string>
</array>
</plist>
