[submodule "MeridianJB"]
	path = MeridianJB
	url = https://github.com/pwn20wndstuff/MeridianJB.git
[submodule "libjailbreak"]
	path = libjailbreak
	url = https://github.com/pwn20wndstuff/libjailbreak.git
