Package: science.xnu.undecimus.resources
Version: 0.12
Architecture: iphoneos-arm
Description: Resources used by Unc0ver
Maintainer: Sam Bingner <maintainer@sbdhi.com>
Section: System
Depends: firmware (>= 11.0), com.bingner.spawn, science.xnu.injector
Name: Unc0ver Jailbreak Resources
